* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    background-color: #1fac7c;
    color: #ffffff;
-webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
     -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: .2em;
}

p {
    margin: 10px 0;
}

a, a:link {
    color: #1fac7c;
    text-decoration: none;
    padding: 1px 2px;
}

a:hover {
    color: #ffffff;
    background-color: #1fac7c;
}

.logo {
    background-image: url(logo.png);
    height: 70px;
    width: 72px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.site-title span {
    display: block;
}

.small {
    font-weight: normal;
    font-size: .6em;
}

.x-small {
    font-weight: normal;
    font-size: .39em;
}

.large {
    font-size: 1.5em;
}

.darker {
    color: #137147;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
    padding-bottom: 82px;
}

.site-content {
    position: relative;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.site-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    color: #000000;
}

.site-footer p {
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .2em;
    line-height: .7em;
}

.push {
    margin-bottom: 40px;
}

.btn, a.btn {
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #ffffff;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
     -o-border-radius: 4px;
        border-radius: 4px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: normal;
-webkit-transition: background-color 0.5s ease, color 0.2s ease;
   -moz-transition: background-color 0.5s ease, color 0.2s ease;
     -o-transition: background-color 0.5s ease, color 0.2s ease;
        transition: background-color 0.5s ease, color 0.2s ease;
}

.btn:hover, a.btn:hover {
    background-color: #ffffff;
    color: #1fac7c;
}

.btn:active, a.btn:active {
    position: relative;
    top: 2px;
}

/**
 * Retina
 */
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .logo {
        background-image: url(logo2x.png);
        background-size: 72px 70px;
    }
}
